.cardanime2{
    background-color: #252525;
    margin-top: 10px;
    padding: 6px;
    margin-left: 3px;
    float: left;
    height: 225px;
    width: 116px;
    overflow: hidden;
}
.bunequinaqui{
    width: 104px;
    height: 180px;
}
.titanitemp{
    position: relative;
    color: white;
    display: flex;
  align-items: center;
  justify-content: center;
    //height: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: initial;
}
.wrnmsg{
    background-color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
}

.load{
    text-align: center;
    color: azure;
    padding-top: 60%;
}