.filtro{
  color: #ffffff;
  font-family: league gothic;
  font-size: 27px;
  padding-left: 5px;
} 
.titanitemp{
  position: relative;
  color: white;
  display: flex;
align-items: center;
justify-content: center;
  //height: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-align: initial;
}