<ion-header>
  <ion-toolbar class="backMenu">
    <ion-buttons slot="start" class="branco">
      <ion-menu-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="navegar('home')">
      WANIPON
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <a class="titpag">Animes Ordenados</a><br/>
  <ion-icon name="search" class="icon" (click)="pesquisar(pesquisa)"></ion-icon>
  <a *ngIf="this.barraPesquisa"><ion-input name="pesquisa" type="text" [(ngModel)]="pesquisa" style="background-color: white"></ion-input></a>
  <br/><br/>



  <div *ngIf="lista === undefined; else tt" class="load">CARREGANDO</div>
    <ng-template #tt>
      <a (click)="serieordem(i.id)" *ngFor="let i of lista" >
        <div style="background-color: #252525" (click)="navegar('serieordenada')"><img [src]="i.perfil" class="animg"/>
          <a class="titanitemp">{{ i.nome }}</a></div><br/>
      </a>
    </ng-template>



</ion-content>