.titpag{
    position: relative;
    color: white;
    font-size: 27px;
    font-family: league gothic;
    display: flex;
  align-items: center;
  justify-content: center;
}
.animg{
    margin-top: 1px;
    padding: 5px;
    padding-bottom: 5px;
    width: 360px;
    height: 190px;
}
.titanitemp{
    position: relative;
    color: white;
    top: -5px;
    display: flex;
  align-items: center;
  justify-content: center;
    //height: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: initial
}