.titpag{
    color: white;
    margin-left: 5px;
    font-size: 27px;
    font-family: league gothic;
}
.sobre{
    background-color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
}