<ion-header>
    <ion-toolbar class="backMenu">
      <ion-buttons slot="start" class="branco">
        <ion-menu-button>
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="titulo" (click)="navegar('home')">
        WANIPON
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg">
    <div class="titpag">Sobre</div>
    <div class="sobre">Desenvolvido inteiramente por David e Lolgan.</div>
    <div class="sobre">Aplicativo desenvolvido com o intuito de ganhar nota e talvez com a possibilidade remota de consideração de ser levado pra frente em prol do capitalismo.</div>
    <div class="sobre">Versão 0.1</div>