.titpag{
    color: white;
    margin-left: 5px;
    font-size: 27px;
    font-family: league gothic;
}
.filtro{
        color: white;
        margin-left: 5px;
        font-size: 24px;
        font-family: league gothic;
    }
.icon{
    float: right;
    height: 40px;
    width: 40px;
    color: white;
}
.animg{
    padding: 5px;
    padding-bottom: 5px;
    width: 360px;
    height: 190px;
}
.titanitemp{
    position: relative;
    color: white;
    top: -5px;
    display: flex;
  align-items: center;
  justify-content: center;
    //height: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: initial
}
.tagfil{
    position: relative;
    font-family: league gothic;
    color: white;
    margin-left: 5px;
    margin-top: 50px;
    font-size: 27px;
    background-color: #252525;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    
}

.load{
    text-align: center;
    color: azure;
    padding-top: 55%;
}