.bgmsg{
    margin-top: 5px;
    background-color: #252525;
    color: white;
    font-family: league gothic;
    overflow: visible;
    //height: 80px;
    font-size: 25px;
    padding-bottom: 5px;
}
.msg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 5px;
    overflow: visible;
    font-size: 17px;
    bottom: 10px;
}


.asf{
    font-family: league gothic;
    color: white;
    font-size: 37px;
    padding: 0 10px 0 10px;
    margin: 5px 10px 0 10px;
    border-radius: 15px;
}

.back-branco{
    --ion-background-color: #ffffff;
}

ion-button{
    --ion-color: #252525;
}