.titpagani{
    position: relative;
    font-family: league Gothic;
    color: white;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sinopse{
    color: white;
    background-color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.infotag{
    position: relative;
    font-family: league gothic;
    color: white;
    margin-left: 5px;
    margin-top: 50px;
    font-size: 27px;
    background-color: #252525;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    
}
.infoani{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 5px;
    margin-top: 30px;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    top: -1px;
}
.br{height: 2px;}
.box {
	min-width: 200px;
	height: 100px;
	background-color: red;
	margin: 1rem;
}
.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
}
.back{
    padding-left: 15px;
    width: 30px;
    height: 30px;
}
.heart-icon{
    color: white;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}
.epi{
    background-color: #1c1f36;
    width: 114px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-left: 5px;
    margin-top: 3px;
    padding: 3px;
    border-radius: 15px;
    float: left;
    
}

.load{
    text-align: center;
    color: azure;
    padding-top: 80%;
}