.titpag{
    color: white;
    margin-left: 5px;
    font-size: 27px;
    font-family: league gothic;
}
.sobre{
    background-color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
}
.ctbr{
    position: static;
    background-color: #0caa21;
    font-family: league gothic;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 40px;
    margin: 5px;
    width: 85px;
    border-radius: 20px;
    margin-left: 138px;

}

.imput{
    padding-left: 25%;
    padding-right: 15%;
    padding-top: 15%;
    padding-bottom: 15%;
    border: solid #771122 1px;
    background-color: #771122;
}
.wrnmsg{
    background-color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
}