<ion-header>
  <ion-toolbar class="backMenu">
    <ion-buttons slot="start" class="branco">
      <ion-menu-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="navegar('home')">
      WANIPON
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <div>
   <ion-icon name="search" class="icon" (click)="pesquisar(pesquisa)"></ion-icon>
   
    <a class="filtro" (click)="presentPopover($event)">Filtro</a>
  </div>
  
  <div *ngIf="this.otorapa" style="width: 500px;">
    <a *ngFor="let tag of this.otorapa">
    <a class="tags">{{tag}}</a></a>
  </div>
  <a *ngIf="this.barraPesquisa"><ion-input name="pesquisa" type="text" [(ngModel)]="pesquisa" style="background-color: white"></ion-input></a>
  <a *ngIf="this.pesquisa">{{this.pesquisa}}</a><br/>

<div *ngIf="lista ===undefined; else tt" class="load">CARREGANDO LISTA</div>
<ng-template #tt>
  <a (click)="iranimeinfo(i.id)" *ngFor="let i of lista" >
    <div class="cardanime2" (click)="navegar('animeinfo')"><img [src]="i.baner" class="bunequinaqui"/><a class="titanitemp">{{ i.nome }}</a></div>
  </a>
</ng-template>

</ion-content>