<ion-header>
  <ion-toolbar class="backMenu">
    <ion-buttons slot="start" class="branco">
      <ion-menu-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      WANIPON
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  
<div *ngIf="AnimeSemana === undefined; else gg" class="load"></div>
<ng-template #gg>
  <a (click)="iranimeinfo(i.id)" *ngFor="let i of AnimeSemana" >
    <img [src]="i.imagem" class="semimg"/>
  </a>
</ng-template>

<div class="AnimedaSemana" >Anime da Semana</div>

<div class="textin">Últimos Lançamentos:</div>
<div *ngIf="semanais ===undefined; else tt" class="load">Nenhum episódio novo</div>
<ng-template #tt>
  <a (click)="iranimeinfo(i.id)" *ngFor="let i of semanais" >
    <div class="titani">{{ i.nome }}</div>
    <div class="episem">{{ i.ultimoEpisodio }}</div>
    <img [src]="i.imagem" class="semimg"/>
  </a>
</ng-template>
