.titpag{
    color: white;
    margin-left: 5px;
    font-size: 27px;
    font-family: league gothic;
}
.bgmsg{
    margin-top: 5px;
    background-color: #252525;
    color: white;
    font-family: league gothic;
    overflow: visible;
    //height: 80px;
    font-size: 25px;
    padding-bottom: 5px;
}
.msg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 5px;
    overflow: visible;
    font-size: 17px;
}
.suamsg{
    background-color: #252525;
    padding: 5px;
    width: 100%;
}